[SddmGreeterTheme]
Name=Netrunner Neo
Description=Netrunner Neo Theme
Author=Uri Herrera
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=uri_herrera@nitrux.in
Theme-API=2.0
