[SddmGreeterTheme]
Name=Netrunner Core
Description=Netrunner Core Theme
Author=Uri Herrera
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=https://github.com/netrunner/netrunner-sddm-theme
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=uri_herrera@nitrux.in
Theme-API=2.0
